# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

version: 2
updates:
  - package-ecosystem: 'npm' # zizmor: ignore[dependabot-cooldown]
    directory: '/'
    schedule:
      interval: 'daily'
    open-pull-requests-limit: 1
  - package-ecosystem: 'github-actions' # zizmor: ignore[dependabot-cooldown]
    directory: '/'
    schedule:
      interval: 'daily'
    groups:
      github-actions-breaking:
        update-types:
          - major
      github-actions-backward-compatible:
        update-types:
          - minor
          - patch
